*{
    box-sizing: border-box;
}

body{
    background-color: rgb(241, 241, 208);
}

header{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}


.card-robot{
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;
    padding: 10px;
    width: 300px;
    

}

.container-robots{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}