{% extends "portfolioApp/base.html" %} {% load static %} {% block content %}

<h1>Hola mundo!</h1>

<a href="{% url 'blog:all_blogs' %}">Blogs</a>
<br />

<img src="{% static 'portfolioApp/Adam_Sandler.png' %}" alt="Adam Sandler" />

{% for project in projects %} {% if project.url %}
<a href="{{ project.url }}">{{ project.title }}</a>
{% else %}
<h3>{{ project.title }}</h3>
{% endif %}

<p>{{ project.description }}</p>

<p>
  <img src="{{ project.image.url }}" alt="{{ project.title }}" />
</p>
{% endfor %} {% endblock %}
