<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    


</head>

<body>
    <main>
        <h1>Sintetizador FM</h1>
        <p>Tu blog de actualidad y electrónica musical</p>

        <img src="{% static 'blogApp/img/coral.jpg' %}" alt="Coral" width="300px">

        <h2>Posts</h2>

        <ul>
            {% for post in posts %}
            {% include "blogApp/includes/post.html" %}
            {% endfor %}
        </ul>

        <h2>All Posts</h2>
        <a href="{% url 'allposts' %}" class="all-posts-link">Ver todos los posts</a>

    </main>

</body>

</html>