<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Blog</h1>
    <h3>There are {{ blogs.count }} blog{{ blog.count|pluralize }}</h3>
    {% for blog in blogs %}
    <h3>{{ blog.title }}</h3>
    <p>{{ blog.description|truncatechars:30 }}</p>
    <p>Fecha de creación: {{ blog.date|date:'M d Y' | upper }}</p>
    <p>{{ blog }}</p>
    <a href="{% url 'blog:detail' blog.id %}">Show more!</a>
    {% endfor %}
  </body>
</html>
